{% extends 'sikept/main.html' %}

{% block content %}
{% load static %}
{% include 'sikept/status_rekom.html' %}

<section class="mb-4">
  <div class="card">
    <div class="card-header text-center py-3">
      <h5 class="mb-0 text-center">
        <strong>Rekomendasi</strong>
      </h5>
    </div>

    <div class="card-body">
      {% include 'sikept/pencarian_rekom.html' %}
      <div class="table-responsive">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th scope="col"></th>
              <th>Nomor</th>
              <th>Nama PTS</th>
              <th>Perihal</th>
              <th>Tanggal Surat</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for i in rekomorder %}
            <tr>
              <td>{{ forloop.counter0|add:order.start_index }}</td>
              <td>{{i.nomor|upper}}</td>
              <td>{{i.nama_pts}}</td>
              <td>{{i.nomor.perihal}}</td>
              <td>{{i.nomor.tanggal_surat}}</td>
              <td>
                <a href="{% url 'dokumenDetail' i.nomor %}"><i class="fas fa-eye"></i></a>
              </td>
              <td>
                <a href="{%  url 'deleteRekom' i.id %}" class="confirm-delete btnDel ">
                  <i class="fas fa-trash-alt btndelete">
                    
                  </i>
                </a>
              </td>

            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if order.has_other_pages %}
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if order.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ order.previous_page_number }}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}

            {% for i in order.paginator.page_range %}
            {% if order.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a> </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if order.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ order.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}

      </div>
    </div>
  </div>
</section>
{% endblock %}
